<?xml version="1.0"?>
<AlipayConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Partner>2088021438063964</Partner>
  <Seller>siigee@163.com</Seller>
  <Key>q121xwf2g9tevfwt8ts3ulgus3qrcvv9</Key>
  <PrivateKey>MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAMuQKPIfQu1Q/LSnoTj68aXEjjcRl2o2iTzzK/ZjOtmvskp7VemqCvRQyNnoL7jHrSY57ZnFjMuOX6n8koiuBG5eXbVBr4f6mg6qaQVF/f5jWDK/woFmjTSKQgTKq7Z4A/W5WxitdEzq/dracxcavix/mf2yQYv1ODssUkCfltJ7AgMBAAECgYBucJQGaHeDEYFI8flCVMNt0CnoLp8bfOMQMk4Tqtpu6CeuySNfVmYDDyEpOBNMCOkj6CHEX613cpLsQp+tj9vOnShWFfW3uesMNcBICxO/LyBXalhz94OsFF+1er9PX+OFIs14Z6uf5YwTTXdgWG9qIFMnElqfZMgWNDMlJ8J+wQJBAPM4kFjBgDiWv8MA60eg1AR4WLyPWMv41E+UJJpU9WHDCcFll2LO9h7RfgG/8unAjUP7TL17A5OghIpzweqQzVkCQQDWQi3+eS2TDK578590rKLgXGupZ0xQzCnpqtajcgMhWXOggSkDMZiuxOEkE/PlTpaQ6kttNBLwycZEuKvYEz/zAkAnR4NIUje6692cSJG2x6p17lmmWiAlENJ455vhsMbQOwdgTF/efT4STBLlhXJdfdNSn0sNbshtFwdQtNEkaK5BAkB3wBNe2DGNr5fR9W8Y0ehSx7TwwKhZvFJspCxEu9NeD1XdznKys0Sn4agH9xLpBcyHgDvZ9DHl3JBxFloNcWzbAkACTiOz0MpeGyoPDWcJbD8hSkDzK1awFHzRmPfcQMZhmj+p2SU1ZY5rd/CQugK3q5MyRTM8g9Zwlb63fOMM3gWD</PrivateKey>
  <PublicKey>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB</PublicKey>
  <PayNotifyUrl>http://112.74.86.15:832/Pay/Alipay/PayNotify.aspx</PayNotifyUrl>
  <RefundNotifyUrl>http://112.74.86.15:832/Pay/Alipay/RefundNotify.aspx</RefundNotifyUrl>
</AlipayConfigInfo>