<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Webname>微车购物商城</Webname>
  <Title>购物</Title>
  <Keywords>微车平台</Keywords>
  <Description>微车平台</Description>
  <Logo>/upload/Logo/201505/59418d93-85eb-438f-9e4b-ddd9b192b030.jpg</Logo>
  <Footer>Copyright © 2006 - 2014 版权所有   粤ICP备140424号-1</Footer>
</BaseConfigInfo>