<?xml version="1.0" standalone="yes"?>
<cachetableremove>
  <table1 xpath="example" removedatetime="2007-1-9 17:36:23" />
  <table1 xpath="/GrShop/" removedatetime="2010-07-20 15:36:57" />
  <table1 xpath="/GrShop/Advertisements" removedatetime="2010-07-20 15:36:57" />
  <table1 xpath="/GrShop/UI/" removedatetime="2010-07-20 15:36:57" />
  <table1 xpath="/GrShop/US/" removedatetime="2010-07-20 15:36:57" />
  <table1 xpath="/Depot/" removedatetime="2010-01-27 16:15:26" />
  <table1 xpath="/GrShop/UI/getTradeOrder" removedatetime="2009-11-30 14:44:15" />
  <table1 xpath="/GrShop/UI/getAwardLog-2" removedatetime="2009-11-30 14:44:15" />
  <table1 xpath="/Sys/" removedatetime="2012-07-18 16:20:50" />
  <table1 xpath="/Users/" removedatetime="2012-07-18 16:20:50" />
  <table1 xpath="/Shop/" removedatetime="2014-07-05 11:04:44" />
  <table1 xpath="/Shop/UI/" removedatetime="2014-07-05 11:04:44" />
  <table1 xpath="/Usshop-10000/" removedatetime="2012-08-07 16:25:35" />
  <table1 xpath="/NetFlow/IpTracking/DataTableInfo" removedatetime="2013-12-26 18:36:13" />
  <table1 xpath="/NetFlow/PvTracking/DataTableInfo" removedatetime="2014-04-16 10:58:10" />
</cachetableremove>