<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="city" path="88" pattern="/88" page="/index.aspx" querystring="city=88" />
  <rewrite name="city" path="97" pattern="/97" page="/index.aspx" querystring="city=97" />
  <rewrite name="search" path="/search" pattern="/search" page="/search.aspx" querystring="" />
  <rewrite name="adshow" path="/ad" pattern="/ad" page="/ad.aspx" querystring="" />
  <rewrite name="phone" path="/down/phone" pattern="/down/phone" page="/down/phone.aspx" querystring="" />
  <rewrite name="pc" path="/down/pc" pattern="/down/pc" page="/down/pc.aspx" querystring="" />
  <rewrite name="wap" path="/down/wap" pattern="/down/wap" page="/down/wap.aspx" querystring="" />
  <rewrite name="adshow" path="/reply" pattern="/reply" page="/reply.aspx" querystring="" />
  <rewrite name="liveshow" path="/live" pattern="/live" page="/live/template/1/live.aspx" querystring="" />
  <rewrite name="livelist" path="/lives" pattern="/lives" page="/live/list.aspx" querystring="" />
  <rewrite name="speciallist" path="/special" pattern="/special" page="/special/list.aspx" querystring="" />
  <rewrite name="activitylist" path="/activity" pattern="/activity" page="/activity/list.aspx" querystring="" />
  <rewrite name="cluelist" path="/clue/bangban" pattern="/clue/bangban" page="/clue/clue_list.aspx" querystring="ProvideType=1" />
  <rewrite name="cluelist" path="/clue/mingshen" pattern="/clue/mingshen" page="/clue/clue_list.aspx" querystring="ProvideType=2" />
  <rewrite name="clue" path="/clue/detial" pattern="/clue/detial" page="/clue/clue.aspx" querystring="" />
  <rewrite name="clueappend" path="/clue/append" pattern="/clue/append" page="/clue/clue_add.aspx" querystring="" />
</urls>