<?xml version="1.0"?>
<MessageConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MessageInteval>0</MessageInteval>
  <MessageAutoChenk>1</MessageAutoChenk>
  <MessageMemberOnly>0</MessageMemberOnly>
  <OpenRefund>1</OpenRefund>
  <OpenReturn>1</OpenReturn>
  <BuyMessage>0</BuyMessage>
  <QuestionToCity>0</QuestionToCity>
  <RefundTime>7</RefundTime>
  <ExchangeTime>10</ExchangeTime>
  <RepairTime>60</RepairTime>
  <ActionTime>3</ActionTime>
</MessageConfigInfo>