<?xml version="1.0"?>
<MobileConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Closesite>0</Closesite>
  <Closereason>平台维护中</Closereason>
  <About>&lt;p&gt;&lt;strong&gt;使用说明&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;压顶explain&lt;/p&gt;</About>
  <Explain>关于我们</Explain>
</MobileConfigInfo>