<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Weigou.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
   
  </appSettings>
  <applicationSettings>
    <Weigou.Common.Properties.Settings>
      <setting name="Weiche_Common_WeicheSms_Soap57ProviderService"
          serializeAs="String">
        <value>http://113.105.65.138:7801/sms</value>
      </setting>
    </Weigou.Common.Properties.Settings>
  </applicationSettings>
</configuration>