<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Smtp>1</Smtp>
  <Port>2</Port>
  <Sysemail>4</Sysemail>
  <Username>3</Username>
  <Password>5</Password>
  <MailOn>1</MailOn>
  <ReplyAddress>oootue@163.com</ReplyAddress>
  <SmtpAuth>0</SmtpAuth>
  <IsSsl>0</IsSsl>
  <SendPaidMail>0</SendPaidMail>
  <SendDeliveryMail>0</SendDeliveryMail>
  <SendNodeMail>0</SendNodeMail>
  <SendGroupMail>0</SendGroupMail>
  <EmailNotifTime>0</EmailNotifTime>
</EmailConfigInfo>