<?xml version="1.0"?>
<MemberConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Closememberreg>0</Closememberreg>
  <Sendemailreg>0</Sendemailreg>
  <Isupusergroup>1</Isupusergroup>
  <Score>1000</Score>
  <Revert>0</Revert>
  <SinginIntegral>10</SinginIntegral>
  <Invoice>0</Invoice>
  <Membergroup>1</Membergroup>
  <VIPMembergroup>1</VIPMembergroup>
  <Rebateamount>0</Rebateamount>
  <Closerecharge>0</Closerecharge>
  <Isrebate>0</Isrebate>
  <Rebatetime>72</Rebatetime>
  <Rebatetype>2</Rebatetype>
  <Mobilerequired>0</Mobilerequired>
  <SurveyScore>0</SurveyScore>
  <Scoretormb>1000</Scoretormb>
  <rechargeRevert>0</rechargeRevert>
  <fristloginRevert>10</fristloginRevert>
  <recommendRevert>0</recommendRevert>
  <shareorderRevert>0</shareorderRevert>
</MemberConfigInfo>