<?xml version="1.0"?>
<MobileStartConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Content>郭晶晶孕味十足 和老公霍启刚现身律师楼</Content>
  <Startimage>/Picture/201306/281630542888.jpg</Startimage>
  <Startnewsid>10256</Startnewsid>
  <Isenable>1</Isenable>
</MobileStartConfigInfo>