<?xml version="1.0"?>
<PhotosConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WaterMark>1</WaterMark>
  <BigPicWidth>0</BigPicWidth>
  <BigPicHeight>0</BigPicHeight>
  <SmallPicWidth>120</SmallPicWidth>
  <SmallPicHeight>120</SmallPicHeight>
  <WaterMarkImg>/images/application_view_tile.png</WaterMarkImg>
  <WaterMarkPlace>9</WaterMarkPlace>
  <WaterMarkAlpha>0</WaterMarkAlpha>
  <AutoGenImg>1</AutoGenImg>
</PhotosConfigInfo>