<?xml version="1.0"?>
<SmsConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PaymentSms>0</PaymentSms>
  <IsOpenSms>1</IsOpenSms>
  <AutoSendSms>0</AutoSendSms>
  <SmsSendLog>1</SmsSendLog>
  <SmsSendNewGoods>0</SmsSendNewGoods>
  <DeliverySms>0</DeliverySms>
  <SmsSubscribe>0</SmsSubscribe>
  <OrderMsg>0</OrderMsg>
  <SmsSubscribeExpire>24</SmsSubscribeExpire>
  <SmsLimit>0</SmsLimit>
  <GoodsSmsSendType>3</GoodsSmsSendType>
</SmsConfigInfo>