<?xml version="1.0"?>
<WeixinConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppID>wxd1aff3dab06ce59e</AppID>
  <Mch_ID>1266179501</Mch_ID>
  <Sslcert_Path>cert/apiclient_cert.p12</Sslcert_Path>
  <Sslcert_Password>1266179501</Sslcert_Password>
  <Key>d42f2ef763124f1f97e74a4967cc25aa</Key>
  <ApiKey></ApiKey>
  <PayNotifyUrl>http://112.74.86.15:832/Pay/Weixin/PayNotify.aspx</PayNotifyUrl>
  <RefundNotifyUrl>http://112.74.86.15:832/Pay/Weixin/RefundNotify.aspx</RefundNotifyUrl>
</WeixinConfigInfo>