<?xml version="1.0"?>
<ActivityConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Goodsscore>5.0</Goodsscore>
  <Merchantscore>800.0</Merchantscore>
  <Goodsspecialcount>40</Goodsspecialcount>
  <Goodscareselectcount>50</Goodscareselectcount>
  <Showspecialcycle>1</Showspecialcycle>
  <Showcareselectcycle>0</Showcareselectcycle>
</ActivityConfigInfo>