<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Webname>美今管家平台</Webname>
  <Title>美今管家</Title>
  <Keywords>美今管家</Keywords>
  <Description>美今管家</Description>
  <Logo>/upload/Logo/201505/59418d93-85eb-438f-9e4b-ddd9b192b030.jpg</Logo>
  <Footer>Copyright © 2008 - 2016 版权所有   粤ICP备140424号-1</Footer>
</BaseConfigInfo>