<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Shopdomain>clz.cxm</Shopdomain>
  <Website>电商平台</Website>
  <Webtitle>电商平台</Webtitle>
  <Seokeywords>电商平台管理系统</Seokeywords>
  <Seodescription>电商平台管理系统</Seodescription>
  <Weblogo>/images/logo.png</Weblogo>
  <Urlmode>1</Urlmode>
  <Rewritemode>1</Rewritemode>
  <Isopenlog>1</Isopenlog>
  <Isextsubmit>1</Isextsubmit>
  <QQservice />
  <Bottomcontent>Copyright © 2006 - 2014 版权所有   粤ICP备140424号-1</Bottomcontent>
  <Bottomlogo />
  <SiteTel />
  <Citynameurl>0</Citynameurl>
  <Worktime>周一至周六9:00-18:00</Worktime>
  <Closesite>0</Closesite>
  <Closereason>网站维护中...</Closereason>
  <Emailsendkey>vaorker3</Emailsendkey>
  <CookiesDomain>clz.cxm</CookiesDomain>
  <Domain>www.clz.cxm</Domain>
  <Wapdomain />
  <centerDomain />
  <PicDomain />
  <CompanyEmail />
  <SkinPackage>/css</SkinPackage>
  <MinRebate>0</MinRebate>
  <Cashfee>10</Cashfee>
  <RefundTime>0</RefundTime>
  <ExchangeTime>0</ExchangeTime>
  <RepairTime>0</RepairTime>
</GeneralConfigInfo>