<?xml version="1.0"?>
<GoodsConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ImgSize>2</ImgSize>
  <Minstock>5</Minstock>
  <WaterMark>1</WaterMark>
  <BigPicWidth>0</BigPicWidth>
  <BigPicHeight>0</BigPicHeight>
  <SmallPicWidth>0</SmallPicWidth>
  <SmallPicHeight>0</SmallPicHeight>
  <WaterMarkImg>/images/application_view_tile.png</WaterMarkImg>
  <WaterMarkPlace>9</WaterMarkPlace>
  <WaterMarkAlpha>0</WaterMarkAlpha>
  <GoodsListSize>16</GoodsListSize>
  <GoodsListNum>10</GoodsListNum>
  <AutoGenImg>0</AutoGenImg>
  <TodayOtherGroup>3</TodayOtherGroup>
  <BeforViewNow>0</BeforViewNow>
</GoodsConfigInfo>