<?xml version="1.0" encoding="utf-8" ?>
<urls>
 <rewrite name="list"
        path="/{0}-{1}-{2}-{3}-{4}-{5}-{6}-{7}-{8}-{9}-{10}-{11}-{12}.{13}"
        pattern = "/([flp]+)?-([a-z]+)?-([^-]+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?-(\d+)?(-(\d+))?.(aspx|html)"
        page="/list.aspx"
        querystring="flag=$1^order=$2^searchkey=$3^ccid=$4^sid=$5^cityid=$6^areaid=$7^bscircle=$8^beginin=$9^endin=$10^shopid=$11^driving=$12^brand=$13^page=$15" />
 
<rewrite name="detail"
        path="/detail-{0}.aspx"
        pattern = "/detail-(\d+)?.(aspx|html)"
        page="/detail.aspx"
        querystring="gid=$1" />
	
 <rewrite name="orderbbs"
        path="/orderbbs.aspx"
        pattern = "/orderbbs.(aspx|html)"
        page="/orderbbs.aspx"
        querystring="" />
 
<rewrite name="shareDetails"
        path="/shareDetails-{0}.aspx"
        pattern = "/shareDetails-(\d+)?.(aspx|html)"
        page="/shareDetails.aspx"
        querystring="shareid=$1" />
  
<rewrite name="shoplist"
        path="/s-{0}-{1}-{2}-{3}-{4}-{5}.aspx"
        pattern ="/s-([a-z]+)?-(\d+)?-(\d+)?-(\d+)?-([^-]+)?(-(\d+))?.(aspx|html)"
        page="/shoplist.aspx"
        querystring="order=$1^ccid=$2^areaid=$3^bscircle=$4^searchkey=$5^page=$7" />
	
<rewrite name="shopdetail"
        path="/shopdetail-{0}.aspx"
        pattern ="/shopdetail-(\d+)?.(aspx|html)"
        page="/shopdetail.aspx"
        querystring="gid=$1" />
	
<rewrite name="summary"
        path="/summary-{0}.aspx"
        pattern = "/summary-(\d+)?.(aspx|html)"
        page="/summary.aspx"
        querystring="sid=$1" />
	
<rewrite name="regstep2"
        path="/regstep2-{0}-{1}.aspx"
        pattern = "/regstep2-([a-zA-Z0-9]+)?-([a-zA-Z0-9]+)?.(aspx|html)"
        page="/regstep2.aspx"
        querystring="u=$1^c=$2" />
	
<rewrite name="updatepwd"
        path="/updatepwd-{0}-{1}-{2}.aspx"
        pattern = "/updatepwd-([a-zA-Z0-9]+)?-([a-zA-Z0-9]+)?-(\d+)?.(aspx|html)"
        page="/updatepwd.aspx"
        querystring="e=$1^c=$2^t=$3" />
	
<rewrite name="help"
        path="/help/list-{0}.aspx"
        pattern = "/help/list-(\d+)?.(aspx|html)"
        page="/help/list.aspx"
        querystring="mid=$1" />
	
<rewrite name="helpShow"
        path="/help/show-{0}.aspx"
        pattern = "/help/show-(\d+)?.(aspx|html)"
        page="/help/show.aspx"
        querystring="pid=$1" />
<rewrite name="helpadvice"
	  path="/help/advice.aspx"
	  pattern = "/help/advice.(aspx|html)"
	  page="/help/advice.aspx"
	  querystring="" />
	
<rewrite name="buy_confirm"
        path="/buy_confirm-{0}-{1}.aspx"
        pattern = "/buy_confirm-(\d+)?-(\d+)?.(aspx|html)"
        page="/buy_confirm.aspx"
        querystring="deliverid=$1^delivdate=$2" />
	
<rewrite name="pay_check"
        path="/pay_check-{0}.aspx"
        pattern = "/pay_check-([\d_,]+)?.(aspx|html)"
        page="/pay_check.aspx"
        querystring="orderid=$1" />
	
<rewrite name="orderview"
        path="/manage/order/order_view-{0}.aspx"
        pattern = "/manage/order/order_view-(\d+)?.(aspx|html)"
        page="/manage/order/order_view.aspx"
        querystring="orderid=$1" />
	
<rewrite name="mycart"
        path="/mycart.aspx"
        pattern = "/mycart.(aspx|html)"
        page="/mycart.aspx"
        querystring="" />
	
<rewrite name="buy_confirm"
        path="/buy_confirm.apsx"
        pattern = "/buy_confirm.(aspx|html)"
        page="/buy_confirm.aspx"
        querystring="" />
	
<rewrite name="Experiencing"
        path="/Experiencing-{0}.aspx"
        pattern = "/Experiencing-(\d+)?.(aspx|html)"
        page="/Experiencing.aspx"
        querystring="qaid=$1" />

<rewrite name="shopreg1"
	  path="/shop/regstep1.aspx"
	  pattern = "/shop/regstep1.(aspx|html)"
	  page="/shop/regstep1.aspx"
	  querystring="" />
<rewrite name="shopreg2"
	  path="/shop/regstep2.aspx"
	  pattern = "/shop/regstep2.(aspx|html)"
	  page="/shop/regstep2.aspx"
	  querystring="" />
<rewrite name="shopreg3"
	  path="/shop/regstep3.aspx"
	  pattern = "/shop/regstep3.(aspx|html)"
	  page="/shop/regstep3.aspx"
	  querystring="" />
<rewrite name="shopreg4"
	  path="/shop/regstep4.aspx"
	  pattern = "/shop/regstep4.(aspx|html)"
	  page="/shop/regstep4.aspx"
	  querystring="" />

	<rewrite name="getcoupon"
        path="/givecoupon-{0}.aspx"
        pattern = "/givecoupon-(\d+)?.(aspx|html)"
        page="/getcoupon.aspx"
        querystring="qid=$1" />
<rewrite name="removeEmail"
        path="/manage/uinfo/removeEmail-{0}-{1}-{2}.aspx"
        pattern = "/manage/uinfo/removeEmail-([a-zA-Z0-9]+)?-([a-zA-Z0-9]+)?-([a-zA-Z0-9]+)?.(aspx|html)"
        page="/manage/uinfo/removeEmail.aspx"
        querystring="u=$1^e=$2^c=$3" />
</urls>