<?xml version="1.0"?>
<WeixinConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppID>wx94d65eaa711a0bc0</AppID>
  <AppSecret>609243fc0859f0e71efe12ecec327d8f</AppSecret>
  <Mch_ID>1294227001</Mch_ID>
  <Sslcert_Path>cert/apiclient_cert.p12</Sslcert_Path>
  <Sslcert_Password>1266179501</Sslcert_Password>
  <Key>E7AD43455846BC858E7CEEDED0197550</Key>
  <ApiKey></ApiKey>
  <PayNotifyUrl>http://112.74.86.15:832/Pay/Weixin/PayNotify.aspx</PayNotifyUrl>
  <RefundNotifyUrl>http://112.74.86.15:832/Pay/Weixin/RefundNotify.aspx</RefundNotifyUrl>
</WeixinConfigInfo>