<?xml version="1.0"?>
<OtherConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServiceClause></ServiceClause>
  <QQAppid />
  <QQAppkey />
  <SinaKey />
  <SinaSecret />
  <TaobaoKey />
  <TaobaoSecret />
  <QQWAppKey />
  <QQWAppSecret />
  <QQWAccessKey />
  <QQWAccessSecret />
  <QQWOpenid />
  <QQWOpenkey />
  <SinaAccessToken />
  <SinaExpiresIn />
  <SinaRefreshToken />
</OtherConfigInfo>