<?xml version="1.0"?>
<ShoppingConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CloseShoppingCart>1</CloseShoppingCart>
  <ShoppingCartMaxTime>0</ShoppingCartMaxTime>
  <InvoiceTaxRate>0</InvoiceTaxRate>
  <PayType>0</PayType>
  <FreeDeliveryLimit>0</FreeDeliveryLimit>
  <CouponSendOther>0</CouponSendOther>
  <FreeDeliveryNumLimit>0</FreeDeliveryNumLimit>
</ShoppingConfigInfo>