<?xml version="1.0"?>
<UnionpayConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- 签名证书路径 PM_700000000000001_acp.pfx-->
  <SignCertPath>/cert/PM_700000000000001_acp.pfx</SignCertPath>
  <!-- 签名证书密码。测试环境就是000000，生产自己修改-->
  <SignCertPwd>000000</SignCertPwd>
  <!-- 验签证书目录。加密证书路径请任意配置，用不到的-->
  <ValidateCertDir>/cert/</ValidateCertDir>
  <!--加密公钥证书路径-->
  <EncryptCert></EncryptCert>
  <!--有卡交易路径-->
  <CardRequestUrl></CardRequestUrl>
  <!--app交易路径-->
  <AppRequestUrl></AppRequestUrl>
  <!--前台同步通知地址-->
  <FrontTransUrl></FrontTransUrl>
  <!--后台异步通知地址/支付通知地址 -->
  <BackTransUrl>http://112.74.86.15:832/Pay/Unionpay/PayNotify.aspx</BackTransUrl>
  <!--退款通知地址 -->
  <RefundNotifyUrl>http://112.74.86.15:832/Pay/Unionpay/RefundNotify.aspx</RefundNotifyUrl>
  <!--商户号 777290058118725-->
  <MerId>777290058121228</MerId>
</UnionpayConfigInfo>